<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>crrlhfu.ufhlrrc@tznvy.pbz</string>
	<key>contactName</key>
	<string>Kumar, Peeyush</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Reek</string>
	<key>uuid</key>
	<string>6F1383EE-4E16-42ED-A75A-4F0032DC3984</string>
</dict>
</plist>
